[submodule ".registry"]
	path = .registry
	url = https://github.com/zeileis/zeileis.r-universe.dev
	branch = HEAD
[submodule "countreg"]
	path = countreg
	url = https://github.com/r-forge/countreg
[submodule "exams"]
	path = exams
	url = https://github.com/r-forge/exams/pkg/exams
[submodule "topmodels"]
	path = topmodels
	url = https://github.com/r-forge/topmodels/pkg/topmodels
